$webResourceManager.requireResourcesForContext("jira.workflow.sharing")
<html>
<head>
    <title>$i18n.getText("wfshare.section.title.export")</title>
    <meta name="decorator" content="admin"/>
</head>
<body>
    <h2>$i18n.getText("wfshare.export.screen.notes.title")</h2>

    <form class="aui top-label dont-default-focus" action="$nextUrl" method="post">
        <h3>$i18n.getText("wfshare.export.screen.notes.instructions")</h3>
        <input name="atl_token" type="hidden" value="$atl_token" />
        <textarea class="textarea full-width-field notes-text" id="notes" name="notes">$notes</textarea>
        <div class="description">$i18n.getText("wfshare.export.screen.notes.instructions.description")</div>
        <div class="buttons-container">
            <a id="backButton" class="aui-button" href="$backUrl">$i18n.getText("wfshare.button.label.back")</a>
            <input id="nextButton" class="aui-button aui-button-primary" type="submit" value="$i18n.getText("wfshare.export.screen.notes.export")"/>
            <a class="cancel" href="$cancelUrl">$i18n.getText("wfshare.button.label.cancel")</a>
        </div>
    </form>

    <script>
        JIRA.WSP.Analytics.sendEvent("export.step", {
            stepName: "add-notes"
        });
    </script>
</body>
</html>

