$webResourceManager.requireResourcesForContext("jira.workflow.sharing")
<html>
<head>
    <title>$i18n.getText("wfshare.section.title.import")</title>
    <meta name="decorator" content="admin"/>
</head>
<body>
    <div class="aui-message error">
        <div class="title">
            <span class="aui-icon icon-error"></span>
            <strong>$i18n.getText("wfshare.error.screen.error")</strong>
        </div>
        <p>$errorMessage</p>
    </div>
    <p><a class="cancel" href="$cancelUrl">$i18n.getText("wfshare.button.label.cancel")</a></p>

    <script>
        JIRA.WSP.Analytics.sendEvent("import.error", {
            source: "$!source",
            errorMessage: "$!errorMessage"
        });
    </script>
</body>
</html>
